.preco_container {
    background-color: #ffffff;
    border-radius: 18px;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
}

.preco_texto,
.modelo-precos {
    color: black;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 18px;
    width: 320px;
}

.titulo_destaque{
    font-size: 20px;
}

@media screen and (min-width:1024px) {
    .preco_container {
        width: 90%;
        margin: 0.5em auto;
    }

    .preco_texto,
    .modelo-precos {
        font-size: 21px;
        width: 420px;
    }

    .titulo_destaque {
        font-size: 30px;
    }
}

@media screen and (min-width:1400px) {
    .preco_container {
        width: 50%;
    }

    .preco_texto,
    .modelo-precos {
        font-size: 20px;
        width: 350px;
    }

    .titulo_destaque {
        font-size: 25px;
    }
}