.linha_footer {
    width: 100%;
    background-color: #fff;
    margin-bottom: 1em;
    height: 2px
}

footer{
    margin-top: 2em;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.informacao_titulo{
    color: rgb(71, 90, 236);
    font-size: 30px;
}

.informacao_textos{
    margin-top: 1em;
    font-size: 20px;
}

li{
    margin-bottom: 1em;
}

.botao_fale_conosco {
    background-color: #4bae4f;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--cor-texto-normal);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 1em 0 1em 0;
    padding: .3em;
    width: 250px
}

.icone_whatsapp {
    width: 65px;
    margin-right: .1em
}

.botao_fale_conosco:hover {
    color: #000;
    background-color: gray
}

@media screen and (min-width: 1400px) {
    .informacao_titulo{
    font-size: 50px;
}

.informacao_textos{
    font-size: 25px;
}

}