body {
        background-color: black;
        margin-bottom: 5em;
}

@media screen and (min-width: 1024px) {
        .catalogo {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
        }

}