.swiper {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    border-radius: 30px;
    width: 270px;
    display: block;
}

@media screen and (min-width: 1024px) {
    .modelo-item {
        width: 49%;
        margin-bottom: 2em;
        box-sizing: border-box;
    }
}

@media screen and (min-width:1400px) {
    .swiper-slide img {
        width: 330px;
    }
}